*{
    margin: 0;
    padding: 0;
}

body{
   text-align: center;
   background-color: #ffdde1;
   
}

h2{
    background-color: #d81159;
    font-size: 8rem;
    color: white;
    line-height: 10vmin;

}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice{
    margin-top: 20rem;
    height: 25vmin;
    width: 25vmin;
}

img:hover{
    opacity: 0.5;
    cursor: pointer;
    border: 1rem  solid #d81159;
}

img{
    height: 25vmin;
    width: 25vmin;
    border-radius: 50%;
    object-fit:cover;
}
 #paper{
    padding: 0 10rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
    gap: 10rem;
}

.score p{
    font-size: 5rem;
    color: #d81159;
}

#comp-score,
#user-score{
    font-size:10rem ;
}

.msg-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#msg{
    background-color: #d81159;
    font-size: 5rem;
    color: white;
    padding: 2rem 10rem;
    border-radius: 2rem;
}